a:hover > .pl-ico.xadd {
  background-position: -134px -78px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xdel {
  background-position: -130px -134px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xdownload {
  background-position: -104px -134px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xmodify {
  background-position: -160px -26px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xnext {
  background-position: -160px -52px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xoff {
  background-position: -108px -26px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xprev {
  background-position: -108px -52px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xremove {
  background-position: -108px -78px;
  width: 16px;
  height: 16px;
}
a:hover > .pl-ico.xupload {
  background-position: 0px -108px;
  width: 16px;
  height: 16px;
}
.pl-ico.xac {
  background-position: -26px -108px;
  width: 16px;
  height: 16px;
}
.pl-ico.xadd {
  background-position: -52px -108px;
  width: 16px;
  height: 16px;
}
.pl-ico.xadd2 {
  background-position: -78px -108px;
  width: 16px;
  height: 16px;
}
.pl-ico.xal {
  background-position: -186px -122px;
  width: 9px;
  height: 16px;
}
.pl-ico.xbook {
  background-position: -186px -51px;
  width: 14px;
  height: 14px;
}
.pl-ico.xdel {
  background-position: -134px -26px;
  width: 16px;
  height: 16px;
}
.pl-ico.xdownload {
  background-position: -134px -52px;
  width: 16px;
  height: 16px;
}
.pl-ico.xdownload2 {
  background-position: -145px -160px;
  width: 11px;
  height: 11px;
}
.pl-ico.xmenu {
  background-position: 0px -186px;
  width: 16px;
  height: 14px;
}
.pl-ico.xmformula {
  background-position: -101px -160px;
  width: 12px;
  height: 12px;
}
.pl-ico.xmimg {
  background-position: -53px -160px;
  width: 16px;
  height: 12px;
}
.pl-ico.xmodify {
  background-position: -52px -134px;
  width: 16px;
  height: 16px;
}
.pl-ico.xnext {
  background-position: -78px -134px;
  width: 16px;
  height: 16px;
}
.pl-ico.xno {
  background-position: -186px 0px;
  width: 15px;
  height: 15px;
}
.pl-ico.xnotice {
  background-position: -108px 0px;
  width: 16px;
  height: 16px;
}
.pl-ico.xoff {
  background-position: -160px 0px;
  width: 16px;
  height: 16px;
}
.pl-ico.xorg {
  background-position: -123px -160px;
  width: 12px;
  height: 11px;
}
.pl-ico.xpaper {
  background-position: -186px -75px;
  width: 14px;
  height: 14px;
}
.pl-ico.xpeper {
  background-position: -186px -25px;
  width: 14px;
  height: 16px;
}
.pl-ico.xperson {
  background-position: 0px -160px;
  width: 15px;
  height: 16px;
}
.pl-ico.xpower {
  background-position: -160px -130px;
  width: 16px;
  height: 16px;
}
.pl-ico.xprev {
  background-position: -160px -104px;
  width: 16px;
  height: 16px;
}
.pl-ico.xremove {
  background-position: -160px -78px;
  width: 16px;
  height: 16px;
}
.pl-ico.xs1 {
  background-position: 0px -54px;
  width: 44px;
  height: 44px;
}
.pl-ico.xs2 {
  background-position: -54px 0px;
  width: 44px;
  height: 44px;
}
.pl-ico.xs3 {
  background-position: 0px 0px;
  width: 44px;
  height: 44px;
}
.pl-ico.xsearchkey {
  background-position: -186px -99px;
  width: 14px;
  height: 13px;
}
.pl-ico.xsetting {
  background-position: -26px -134px;
  width: 16px;
  height: 16px;
}
.pl-ico.xteacher {
  background-position: -186px -148px;
  width: 12px;
  height: 12px;
}
.pl-ico.xtemplate {
  background-position: 0px -134px;
  width: 16px;
  height: 16px;
}
.pl-ico.xtest {
  background-position: -134px -104px;
  width: 16px;
  height: 16px;
}
.pl-ico.xtime {
  background-position: -79px -160px;
  width: 12px;
  height: 12px;
}
.pl-ico.xtip {
  background-position: -54px -54px;
  width: 24px;
  height: 24px;
}
.pl-ico.xupload {
  background-position: -134px 0px;
  width: 16px;
  height: 16px;
}
.pl-ico.xuser {
  background-position: -104px -108px;
  width: 16px;
  height: 16px;
}
.pl-ico.xview {
  background-position: -54px -88px;
  width: 12px;
  height: 10px;
}
.pl-ico.xyes {
  background-position: -25px -160px;
  width: 18px;
  height: 13px;
}
